.feedbackPageChild {
  position: absolute;
  top: -60px;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray-100);
  width: 430px;
  height: 174px;
}
.backButtonIcon {
  position: absolute;
  top: 22.45px;
  left: 18.49px;
  width: 30.52px;
  height: 22.09px;
  cursor: pointer;
}
.eyeCatchingButton,
.hovertrue {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hovertrue {
  cursor: pointer;
}
.eyeCatchingButton {
  position: absolute;
  top: 696px;
  left: 49px;
  border-radius: var(--br-8xs);
  overflow: hidden;
  padding: var(--padding-base);
}
.feedbackPageItem {
  position: absolute;
  top: 190px;
  left: 27px;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightgray-200);
  width: 376px;
  height: 430px;
}
.feedback {
  position: absolute;
}
.textAreaoutlined {
  position: absolute;
  top: 274px;
  left: 105px;
}
.feedback {
  top: 33px;
  left: 149px;
  line-height: 100%;
  font-weight: 800;
}
.feedbackPage {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 430px;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
