* {
    padding: 0;
    margin: 0;
    
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.root {
    height:100%;
}

.main-div {
    background-image: url("../assets/neighborhood.jpeg");
    background-size:contain;
    float: left;
    height: 400px;
    width: 100%;
}


  